/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
  /* Marca / Cor Principal (O Azul do teu Logo) */
  --ion-color-primary: #007BFF;
  --ion-color-primary-rgb: 0,123,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #006ce0;
  --ion-color-primary-tint: #1a88ff;

  /* Estado: ONLINE (Verde) */
  --ion-color-success: #28a745;
  --ion-color-success-rgb: 40,167,69;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #23933d;
  --ion-color-success-tint: #3eb058;

  /* Estado: OFFLINE / ERRO (Vermelho) */
  --ion-color-danger: #dc3545;
  --ion-color-danger-rgb: 220,53,69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #c22f3d;
  --ion-color-danger-tint: #e04958;

  /* Estado: PAUSADO (Amarelo) */
  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255,193,7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-shade: #e0aa06;
  --ion-color-warning-tint: #ffc720;

  /* Estado: DESCONHECIDO (Cinzento) */
  --ion-color-medium: #6c757d;
  --ion-color-medium-rgb: 108,117,125;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-shade: #5f676e;
  --ion-color-medium-tint: #7b838a;

  /* Estado: EM MANUTENÇÃO (Azul Claro) */
  --ion-color-info: #17a2b8;
  --ion-color-info-rgb: 23,162,184;
  --ion-color-info-contrast: #ffffff;
  --ion-color-info-shade: #148ea2;
  --ion-color-info-tint: #2eabbf;
  
  /* Fundos da Aplicação */
  --ion-background-color: #ffffff;
  --ion-text-color: #222428;
}

/* Modo Escuro */
@media (prefers-color-scheme: dark) {
  body {
   --ion-background-color: #000000;
  --ion-text-color: #ffffff;
  
  /* Cor para os fundos dos itens e selects no escuro */
  --ion-item-background: #1a1a1a; 
  --ion-card-background: #121212;
  
  /* Ajuste para a borda branca que mencionaste */
  --border-color-custom: #333333;
  }
}

